<nav>
  <ul id="menu" style="display: none">
      <li><%= link_to "acerca de", '#', :class => "navmenu", :id => "link_acerca" %></li>
      <li> 路 </li>
      <li><%= link_to "servicios", '#' %></li>
      <li> 路 </li>
      <li><%= link_to "somos", '#' %></li>
      <li> 路 </li>
      <li><%= link_to "portafolio", '#' %></li>
      <li> 路 </li>
      <li><%= link_to "contacto", '#', :class => "navmenu", :id => "link_contacto" %></li>
  </ul>
</nav>
