<nav>
  <ul>
      <li><p><%= link_to "acerca de", root_path, :class => "navmenu" %></li>
      <li> - </li>
      <li><%= link_to "servicios", '#' %></li>
      <li> - </li>
      <li><%= link_to "somos", '#' %></li>
      <li> - </li>
      <li><%= link_to "portafolio", '#' %></li>
      <li> - </li>
      <li><%= link_to "contacto", '#' %></li>
  </ul>
</nav>
