<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <body>
    <div class="container">
      <table class="alturatotal">
        <tr>
          <td>
            <section><%= yield %></section>
          </td>
        </tr>
        <tr class="alturaminima">
          <td>
            <%= render 'layouts/footer' %>
          </td>
        </tr>
      </table>
      <%= render 'layouts/tab' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
